@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

*
{
    margin: 0;
    padding: 0;
}

body
{
    background: #f1f4fb;
}

header
{
    color: #fff;
}

.home-banner
{
    position: absolute;
    left: 0;
    top: 0;
}

#loader
{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    overflow: visible;
    background: url('../img/loaderbg.webp') no-repeat center center;
    background-size: 100%;
}

#loader-img
{
    position: absolute;
    top: 225px;
    left: 615px;
}

.logo-header
{
    font-family: 'Audiowide', cursive;
    position: absolute;
    width: 274px;
    height: 61px;
    left: 100px;
    top: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 61px;
}

.logo-highlight
{
    color: #42F5F5;
}

.home-title
{
    font-family: 'Acme', sans-serif;
    position: absolute;
    width: 353px;
    height: 122px;
    left: 100px;
    top: 200px;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 61px;
}

.home-desc
{
    font-family: 'Actor', sans-serif;
    position: absolute;
    width: 550px;
    height: 58px;
    left: 99px;
    top: 300px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    mix-blend-mode: normal;
}

.home-btn
{
    border: none;
    outline: none;
    position: absolute;
    width: 229px;
    height: 55px;
    left: 100px;
    top: 440px;
    filter: drop-shadow(0px 4px 10px rgba(0, 0 , 0 , 0.4));
    background: rgba(66, 245, 245, 0.77);
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 24px;
    color: #fff;
}

.home-btn:hover
{
    background: rgba(70, 245, 66, 0.77);
    cursor: pointer;
}

.scroll-down
{
    position: absolute;
    top: 560px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 34px;
    height: 55px;
}

.mouse
{
    width: 3px;
    padding: 5px 12px;
    height: 35px;
    border: 2px solid rgb(46, 46, 46);
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
}

.scroller
{
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #000;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15, .41, .69, .94);
    animation-iteration-count: infinite;
}

@keyframes scroll
{
    0% { opacitu: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0; }
}

.icon-fb
{
    position: absolute;
    width: 35px;
    height: 35px;
    left: 30px;
    top: 320px;
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.icon-tw
{
    position: absolute;
    width: 35px;
    height: 35px;
    left: 30px;
    top: 255px;
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

@media screen and (max-width: 480px)
{
    header
    {
        width: 415px;
        height: 220px;
    }
    
    .logo-header
    {
        width: 137px;
        height: 31px;
        left: 30px;
        top: 30px;
        font-size: 24px;
        line-height: 31px;
    }

    .home-title
    {
        width: 133px;
        height: 46px;
        left: 30px;
        top: 90px;
        font-size: 18px;
        line-height: 23px;
    }

    .home-btn
    {
        width: 85px;
        height: 25px;
        left: 30px;
        top: 150px;
        border-radius: 5px;
        font-size: 12px;
        line-height: 14px;
    }

    .icon-fb, .icon-tw, .home-desc
    {
        display: none;
    }
}
/*c0a4r0l1o2s*/
/* .contenedor
{
    width: 100%;
    height: 100vh;
    margin: auto;
    position:absolute;
    top: 650px;
    margin: auto;
    padding: 50px 0px 50px 20px;
}
.sec1
{
    width: 90%;
}
.Pinf
{
    width: 80%;
    border: 1px black;
    border-radius: 19px;
}*/

@media screen and (max-width: 980px)
{
    .home-banner
    {
        width: 100%;
        height: 650px;
    }
    .content-box .home-desc
    {
        width: 350px;
        height: 100px;
    }
}
/*
section
{
    width: 100%;
    height: 700px;
    position: absolute;
    top: 100px;
}


#pie
{
    display: block;
    bottom: 0;
    width: 100%;
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

.contain
{
    width: 100%;
    height: 150px;
    color: #fff;


    background: rgb(46,4,191);
    background: linear-gradient(45deg, rgba(46,4,191,1) 7%, rgba(53,44,204,0.9486169467787114) 32%, rgba(60,81,215,0.9710259103641457) 54%, rgba(0,212,255,0.8365721288515406) 83%);
}
.contact
{
    position: absolute;
    width: 445px;
    padding: 10px 20px 10px 20px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 127.5%;
    /* or 32px */

    color: #FFF;
}
.red
{
    width: 50%;
    position: relative;
    top: 35px;
    left: 35px;
}
.derechos
{
    width: 60%;
    padding: 50px 0px 0px 0px;
} */




/*caja*/
.contenedor
{
    margin: auto;
    width: 100%;
}
.caja__columna
{
    color: #000;
    background: #0F222b;
    position: relative;
    text-align: center;
    width: 98%;
    height: 440px;
    margin: 10px;
}
.caja__columna .texto
{
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border: 2px solid #69ca62;
    padding: 30px;
}
.caja__columna .texto h2
{
    font-size: 40px;
    margin: 0 0 10px;
}
.caja__columna .texto p 
{
    font-size: 18px;
}
svg,rect
{
    top 0;
    left 0;
    width: 100%;
    height: 100%;
    fill: transparent;
}
rect
{
    stroke: #69ca62;
    stroke-width: 4;
    stroke-dasharray: 400;
    animation: animate 4s linear infinite;
}
.caja .contenedor
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@keyframes animate
{
    0%
    {
        stroke-dashoffset: 800;
    }
    100%
    {
        stroke-dashoffset: 0;
    }
}
@media(min-width: 520px)
{
    .caja__columna
    {
        width: 82%;
        height: 400px;
    }
}


